html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  background-color: #1a1a4a;
  height: 100%
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav {
  background-image: linear-gradient(#F76C6C, #1a1a4a);
  color: #1a1a4a;
  height: 12%;
}

.nav h1{
  color: #1a1a4a;
}

.nav-item {
  color: #1a1a4a;
}

.link {
  background-color: #F76C6C;
  color: #1a1a4a;
}

a {
  color: #F76C6C;
  text-decoration: none;
  width: 7%;
  height: 100%;
}

.link:hover {
  background-color: #F8E9A1;
}

h1 {
  color: #F8E9A1
}
/* 
.card-background {
  background-color: #C5D8D1;
} */

.mask{
  background-color: #C5D8D1
}


.footer-container {
  background-color: #F76C6C;
  color: #1a1a4a;
  
}
